<div class="modal fade" id="commentsDialog" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <div class="modal-header" >
              <button class="close" data-dismiss="modal">X</button>
              <div class="modal-title">
                 <h3 class="modal-title" id="modalTitle"></h3>
              </div>
            </div>
            <div class="modal-body" id="commentsText">
               <div id="barChart">
               </div>
               <h4 class="modal-title" id="modalHeader">Comments</h4>
               <section id="cd-timeline" class="cd-container">
               </section>
            </div>
         </div>
      </div>
   </div>
</div>
