<meta charset="utf-8">
<link rel="stylesheet" href='/bootstrap/css/bootstrap.css' charset="utf-8">
<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/timeLineStyle.css" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/styles.css" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/menu.css" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/bootstrap-glyphicons.css" charset="utf-8">
<title>Visual Business Intelligence</title>
