<div class="tab-content" id="dashboardsContent" ng-repeat="dashboardItem in dashboardItems">
  <div class="tab-pane" id={{dashboardItem.tabId}} ng-init="index = 1" ng-repeat="row in dashboardItem.rows" ng-class="{active:isActiveTab(dashboardItem.tabId)}"
          ng-click="onClickTab(dashboardItem)">
    <div ng-class="row" id={{row.rowId}}>
      <div class = "col-lg-{{row.colWidth}}" id="{{dashboardItem.tabId + row.rowId}}col{{$index+1}}" >
        <div class = "panel panel-primary">
          {{widget(row.widgetId, dashboardItem.tabId + row.rowId+"col"+($index+1))}}
          <div class = "panel-heading" id = "header">
            {{title}}
            </div> <!-- end of panel heading -->
            <div id = barChart>

            </div>
            <hr class = "hr-prop">
            <a id = "modalLink" data-toggle="modal" class="col-lg-12 col-md-12" href="#commentsDialog" data-widgetId="' {{row.widgetId}} '">more Comments....</a>
            <textarea id = "enterComments" placeholder = "Add your comments... " style = "width:80%" ></textarea>
            <button type="button" class="btn btn-warning" id="submitButton">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
